@import "tailwindcss";

/* Allow scrolling for inventory page */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#root {
  min-height: 100%;
  width: 100%;
}
